.row {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #272822;
}

.show-button {
    padding: 10px 0;
    min-width: 70px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    background-color: #23241E;
    border: none;
    color: #e6db74;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid gray;
}

.console-container {
    padding: 0px 16px 10px 10px;
    position: relative;
}
#console::-webkit-scrollbar {
    display: none;
}
#console {
    width: 100%;
    min-height: 100px;
    background-color: #272822;
    resize: none;
    outline: none;
    color: #e6db74;
}

.clear {
    position: absolute;
    right: 16px;
    top: 5px;
    cursor: pointer;
}